# Virtual environment
venv/
.venv/
env/

# Base de datos local (SQLite)
*.db
instance/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.pytest_cache/
.mypy_cache/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

# OS
Thumbs.db
.DS_Store
